
<header>
  <div class="px-3 py-2 text-bg-dark">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div>
            <h1>Barry Prendergast</h1>
            <h2>Frond End Developer</h2>
        </div>
        <app-nav></app-nav>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-end">
      <div class="text-end">
        <button type="button" class="btn btn-light text-dark me-2">Login</button>
      </div>
    </div>
  </div>
</header>
