header {
    display: block;
    width: 100%;
    padding: 1rem;
}

h1.title {
    font-size: clamp(2.25rem, 2vw + 1.5rem, 3.25rem);
}
.sub-title {
    font-size: clamp(1.25rem, 2vw + 1rem, 2.25rem);
}
.wrapper {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
}
