<mat-form-field appearance="fill" class="col-12">
    <mat-label>{{formattedDate}}</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="formattedDate">{{formattedDate}}</mat-datepicker>
</mat-form-field>

<!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="formattedDate" [formats]="{display: 'shortDate'}"></mat-datepicker>
</mat-form-field> -->
