<div class="wrapper">
    <!-- <h3>Personal Info</h3> -->
    <div class="d-flex flex-column flex-sm-row">
        <div class="img-conteiner col-sm-6">
            <img src="../../../assets/images/me.png" alt="" class="img-fluid">
        </div>
        <div class="intro-text px-3">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab reiciendis porro iusto laudantium nisi in illo maxime numquam, quo sapiente corrupti cum accusantium impedit voluptas ea repellat eum, consequatur quibusdam</p>
        </div>
    </div>
</div>
