<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<div class="row d-flex">
    <div class="col-12 col-md-4" *ngFor="let item of clients">
        <mat-card class="mb-3 p-2">
            <h3>{{item.nombre}}</h3>

            <app-datepicker class="col-12"></app-datepicker>

            <form class="example-form col-12">
                <mat-form-field class="col-12">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>

                <mat-form-field class="col-12">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
            </form>
        </mat-card>
    </div>
</div>
