<div class="nav wrapper">
    <!-- <div class="mobil-nav ">
        <mat-icon aria-hidden="false" aria-label="Mobil nav" fontIcon="menu" (click)="MenuButton()"></mat-icon>
    </div> -->
    <ul
        [ngClass]="menuState ? 'closed' : 'open'"
        ngbNav [activeId]="route.fragment | async"
        class="">
        <li [ngbNavItem]="link.fragment" *ngFor="let link of links" class="link">
            <a ngbNavLink routerLink="{{link.path}}" class="box">
                {{ link.title }}
            </a>
        </li>
    </ul>
</div>
