<div class="nav wrapper">
    <ul>
        <li class="link" role="listitem">
            <a routerLink="/home" routerLinkActive="isActive inactive" class="box home-link">
                Home
            </a>
        </li>
        <li class="link" role="listitem">
            <a routerLink="/about" routerLinkActive="isActive inactive" class="box about-link">
                About
            </a>
        </li>
        <li class="link" role="listitem">
            <a routerLink="/skills" routerLinkActive="isActive inactive" class="box">
                Skills
            </a>
        </li>
        <li class="link" role="listitem">
            <a routerLink="/contact" routerLinkActive="isActive inactive" class="box">
                Contact
            </a>
        </li>
    </ul>
</div>
