.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 400px) );
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.skill {
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: stretch;
    background-color: aquamarine;
}

.mat-mdc-list-item {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mat-icon {
        margin: 0;
    }
}
