<!-- <ul>
    <li>{{skill.skill}}</li>
</ul> -->
<div class="skills-container">
    <form action="" #f="ngForm" (ngSubmit)="addSkill(f)">
        <div class="skill-input-wrapper">
            <mat-form-field>
                <mat-label>Add Skill</mat-label>
                <input matInput name="skill" ngModel>
              </mat-form-field>
            <!-- <input type="text" name="skill" ngModel> -->
            <button mat-raised-button type="submit" >submit</button>
        </div>
    </form>
    <mat-list role="list">
        <div class="skills-grid" >
            <mat-card *ngFor="let skill of skills | async" class="skill">
                <mat-icon matListItemIcon>folder</mat-icon>
                <div matListItemTitle>{{skill.skill}}</div>
                <input type="text" [(ngModel)]="skill.skill" value="{{skill.skill}}" placeholder="{{skill.skill}}">
                <button mat-raised-button (click)="updateSKill(skill.id, skill.skill)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button (click)="deleteDoc(skill.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card>
        </div>
    </mat-list>
</div>
