.skills-container {
    padding-block: 2rem;
}

ngx-skeleton-loader {
    display: flex;
    justify-content: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: var(--skills-grid-columns, repeat(auto-fit, minmax(min-content, 280px)));
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
    position: relative;
    padding: var(--skills-grid-padding, 0);
}

.skill-input-wrapper {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
}

.skill-card {
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: start;
    width: stretch;
    padding: 1.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.04);
}

input, textarea {
    border: 1px solid black;
    border-radius: .25rem;
    padding: .5rem 1rem;
    width: auto;
}

h4 {
    font-size: 2rem;
    margin-block: .5rem;
}

.description {
    padding-inline: 1rem;
}


.mat-mdc-list-item {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mat-icon {
        margin: 0;
    }
}

.toolbar {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: flex;
    gap: .25rem;
}

.input-icon-wrapper {
    display: flex;
    align-items: center;

    input {
        &:focus,
        &:focus-within {
            width: 100%;
            transition: width 200ms ease-in-out;

            & + mat-icon {
                // transition: opacity 200ms, display 200ms, delay 2s;
                display: inline-flex;
                opacity: 1;
                margin-inline-start: .5rem;
            }
        }
    }

    .input-icon {
        min-width: 2.6rem;
        // display: none;
        // transition: opacity 200ms, display 200ms, delay 2s;
    }
}

.skill-logo {
    height: 50px;
    width: 50px;
    text-align: center;
}
